set surround
set commentary
set quickscope
set clipboard-=ideaput
set clipboard+=unnamed
set ideajoin
set hlsearch
set incsearch
set ignorecase smartcase
set nrformats-=octal
set virtualedit+=block
set ts=2 sw=2 sts=2 sr et ai
" Use <C-L> to clear the highlighting of :set hlsearch.
if maparg('<C-L>', 'n') ==# ''
  nnoremap <silent> <C-L> :nohlsearch<CR><C-L>
endif
" https://stackoverflow.com/a/45109772
imap <C-n> <Action>(HippieCompletion)
imap <C-p> <Action>(HippieBackwardCompletion)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
nmap <C-]> <Action>(GoToImplementation)
